main {
    background-image: url("/img/fondo-pag-speciali.jpg");
    padding: 20px 0;
    h2 {
        color: blue;
        text-align: center;
        margin-top: 10px;
    }
    .col-3 img {
        width: 100%;
        padding: 10px;
    }
}
